description = "Default"

[formwidget]
formType = "first"

[formwidget formwidget2]
formType = "third"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial "app/meta" %}
    </head>
    {% partial "app/preloader" %}
    <body class="page">
        <div class="mobile__nav"></div>
        <header class="header">
            {% partial "app/header" %}
        </header>
        <main class="main">
            <section class="entry">
                <div class="wrapper">
                  <h1 class="title center">{{ this.page.title }}</h1>
                </div>
                {% page %}
            </section>
        </main>
        <footer class="footer">
          <div class="wrapper">
              <div class="footer__wrapper">
                <div class="footer__form">
                  <h4 class="footer__form-title">Задайте вопрос, наши специалисты свяжутся с Вами в ближайшее время</h4>
                    {% component 'formwidget' %}
                </div>
                <div class="footer__contact">
                  {% partial "app/footer" %}
                </div>
              </div>
            </div>
            <div class="wrapper">
              <div class="footer__bottom">
                <span class="footer__bottom-copyright">Copyright © 2020 {{ this.theme.site_name }}</span>
                <a class="footer__bottom-link" href="http://bardinteam.ru" target="_blank" rel="noopener noreferrer"><span>Разработано</span> в bardinteam.ru</a>
              </div>
          </div>
      </footer>

        <div class="popup" data-modal>
            <div class="popup__dialog">
                <div class="popup__content text-center">
                    <button type="button" class="popup__close">&times;</button>
                    <div class="popup__form">
                        <h2 class="popup__title center">Оставить заявку</h2>
                        {% component 'formwidget2' %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>