description = "Partners"
==
<section class="partners">
  <div class="wrapper">
    <div class="partners__wrapper">
      <ul class="partners__slider">
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/maz.png'|theme }}" alt="maz">
        </li>
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/belarus.png'|theme }}" alt="belarus">
        </li>
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/amkodor.png'|theme }}" alt="amkodor">
        </li>
      </ul>
    </div>
  </div>
</section>