description = "Partners"
==
<section class="partners">
  <div class="wrapper">
    <div class="partners__wrapper">
      <ul class="partners__slider">
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/trecan.png'|theme }}" alt="trecan">
        </li>
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/elgin.webp'|theme }}" alt="elgin">
        </li>
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/miles.png'|theme }}" alt="miles">
        </li>
        <li class="partners__slider-item" style="background: #38711b;">
          <img class="partners__slider-pic" src="{{ 'assets/images/boulder-logo.svg'|theme }}" alt="boulder">
        </li>
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/ati.jpg'|theme }}" alt="miles">
        </li>
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/multione.jpg'|theme }}" alt="multione">
        </li>
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/bawoo.png'|theme }}" alt="bawoo">
        </li>
        <li class="partners__slider-item" style="background: #38711b;">
          <img class="partners__slider-pic" src="{{ 'assets/images/bystron.png'|theme }}" alt="bystron">
        </li>
        <li class="partners__slider-item" style="background: #38711b;">
          <img class="partners__slider-pic" src="{{ 'assets/images/GreenMechLogo.svg'|theme }}" alt="GreenMechLogo">
        </li>
        <li class="partners__slider-item">
          <img class="partners__slider-pic" src="{{ 'assets/images/baumech.png'|theme }}" alt="baumech">
        </li>
        <li class="partners__slider-item" style="background: #38711b;">
          <img class="partners__slider-pic" src="{{ 'assets/images/boschung.svg'|theme }}" alt="boschung">
        </li>
      </ul>
    </div>
  </div>
</section>